<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h3>Sign Up</h3>

    <form action = "/signup" methods="post">
    {% csrf_token %} <!--to prevent attacks, not sure if this is completely necessary for now-->
        <label for = "">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username: " required>
        <br>

        <label for = "">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your Password" required>
        <br>

        <button type="submit">Sign In</button>
    </form>

    <script src="index.js"></script>
  </body>
</html>